# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
app.spec

# Virtual environments
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Executables
*.exe
app-linux
app-macos
